/*kolory
czerwony B21214 rgb(178, 18, 20)
zolty F5F100 rgb(245, 241, 0)
intensywny czerwony FF0004  
jasnoniebieski 1487CC rgb(20, 135, 204)
niebieski 0972B2 rgb(9, 114, 178)
*/

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}


#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(img/tlo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*NAGŁÓWEK*/
header img {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 15px;
  width: 130px;
}

/*KONTAKT*/
aside {
  position: relative;
  padding-right: 260px;
  padding-left: 200px;
  height: 70px;
  background-color: rgba(0, 0, 0, .5);
  background-image: url(img/laweta.png);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left 100% top 20px;
  animation-name: drive;
  animation-duration: 4s;
}

div#phone {
  position: absolute;
  top: 15px;
  right: 15px;
}

div#phone p {
  float: left;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

div#phone p:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #B21214;
  color: #F5F100;
}

div#phone p:last-child {
  padding-left: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #F5F100;
  background-image: url(img/telefon.png);
  background-repeat: no-repeat;
  background-position: 4px center;
  color: #B21214;
}

/*NAWIGACJA*/
nav {
  background-color: rgba(0, 0, 0, .9);
  padding: 15px 0 15px 200px;
}

nav li {
  float: left;
  display: block;
  width: 20%;
  min-width: 200px;
  padding-right: 2%;
  list-style: none;
}

nav li a {
  display: block;
  padding: 10px;
  border: 1px solid white;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

nav li a:hover {
  border: 1px solid #F5F100;
  color: #F5F100;
  background-color: black;
}

nav li a#current {
  border: 1px solid #F5F100;
  color: #F5F100;
  background-color: black;
}

nav li i {
  font-size: 18px;
  margin-right: 10px;
}

/*GŁÓWNA ZAWARTOŚĆ STR 1*/

div#content {
  max-width: 1024px;
  padding-bottom: 100px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 16px;
  line-height: 1.6;
  animation-name: show;
  animation-duration: 2s;
}

article {
  display: flex;
  justify-content: space-between;
}

article > div.column {
  position: relative;
  padding: 20px 20px 20px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
}

article#about-us > div.column,
article#offer > div.column {
  width: calc(100% / 3 - 10px);
}


article#about-us img {
  width: 100%;
  border: 1px solid black;
  margin-top: 15px;
}

#content h1 {
  padding: 20px 0;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
  text-shadow: 4px 4px 4px black,
    2px 2px 0 black;
  font-weight: 700;
  text-align: center;
}

#content h2 {
  margin: 10px 0;
  font-size: 18px;
  color: #B21214;
}

#content p {
  margin: 10px 0;
}

#content ul {
  margin-left: 30px;
}

/*PODSTRONA 2*/
#wrench {
  margin-top: 20px;
  max-width: 30%;
}

#tire {
  position: absolute;
  right: 20%;
  bottom: 10%;
  width: 30%;
}

/*PODSTRONA 3*/
article#contact > div.column {
  width: calc(25% - 10px);
  min-width: 230px;
}

article#contact img {
  margin-top: 10px;
  width: 100%;
}

article#contact > div.column:last-child {
  width: calc(50% - 10px);
  padding-top: 20px;
}

article#contact ul {
  margin: 0;
  list-style: none;
}

/*STOPKA*/
footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  color: white;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: 15px 10px;
  list-style: none;
}

/*RWD*/
/* > 1366px*/
@media (min-width: 1366px) {
  #background {
    width: 1366px;
    top: 0;
    left: calc((100% - 1366px) / 2);
  }
}

/* < 900px */
@media (max-width: 900px) {
  aside {
    display: none;
  }

  nav::after {
    content: "";
    display: block;
    clear: both;
  }

  nav ul {
    float: right;
    margin-right: 15px;
  }

  nav li {
    float: none;
    min-width: 180px;
  }

  article#about-us,
  article#offer {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  article#about-us > div.column,
  article#offer > div.column {
    min-width: 350px;
    padding-left: 25px;
    padding-right: 25px;
  }

  article > div.column {
    margin-bottom: 20px;
  }

  #content h1 {
    font-size: 32px;
    letter-spacing: 8px;
  }

  /*  PODSTRONA 3*/
  article#contact {
    flex-wrap: wrap;
    justify-content: center;

  }

  article#contact > div.column {
    width: cacl(50% - 20px);
    min-width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  article#contact > div.column:last-child {
    width: 100%;
    max-width: 520px;
    min-width: 400px;
    min-height: 350px;
  }

}

/*RWD < 400px*/

@media (max-width: 400px) {
  header img {
    width: 100px;
  }

  nav li {
    min-width: 160px;
  }

  article#about-us > div.column,
  article#offer > div.column {
    min-width: 320px;
  }

  #content h1 {
    font-size: 24px;
    letter-spacing: 6px;
  }

  /*  PODSTRONA 3*/
  article#contact {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  article#contact > div.column {
    min-width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  article#contact > div.column:last-child {
    min-width: 320px;
    min-height: 200px;
  }
}

/*ANIMACJE*/

@keyframes drive {
  0% {
    background-position: left 0 top 20px;
  }

  100% {
    background-position: left 100% top 20px;
  }
}

@keyframes show {
  0% {
    opacity: 0;

    transform: rotate(90deg) scale(0.5);
  }

  100% {
    opacity: 1;
  }
}
